.contact {
    background-color: #cad7dd;
    background-size: contain;
    position: relative;
  }
  

  .img{
    width: 250px;
    height: auto;
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .breadcrumbs {
    padding: 140px 0 60px 0;
    min-height: 30vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .breadcrumbs:before {
    content: "";
    background-color: rgba(27, 47, 69, 0.7);
    position: absolute;
    inset: 0;
  }
  
  .breadcrumbs h2 {
    font-size: 56px;
    font-weight: 500;
    color: #fff;
    font-family: var(--font-secondary);
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #56b8e6;
  }
  
  .breadcrumbs ol a {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
  }
  
  .breadcrumbs ol a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #fff;
    content: "/";
  }
  /*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h3 {
    font-weight: 700;
    font-size: 36px;
    font-family: "Raleway", sans-serif;
    color: #29486a;
  }
  
  .about .content p {
    margin: 30px 0;
    color: #29486a;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding: 0 0 15px 26px;
    position: relative;
    font-size: 15px;
    font-weight: 600;
  }
  
  .about .content ul i {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: -3px;
    color: #56b8e6;
  }

  fa-icon{
    margin-right: 10px;
    color: #56b8e6;
  }