<body class="page-contact">
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/us1.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center">

                <h2>Rólunk</h2>
                <ol>
                    <li><a routerLink="/">Főoldal</a></li>
                    <li>Rólunk</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row gy-4" data-aos="fade-up">
                    <div class="col-lg-4">
                        <img src="/assets/us2.jpg" class="img-fluid img mt-2" >
                    </div>
                    <div class="col-lg-8">
                        <div class="content ps-lg-5 m-2">
                            <h3>Kik is vagyunk mi, és mivel is foglalkozunk?</h3>
                            <p>
                                Mi vagyunk a ProScout Network, az a cég, aki segít elérni azokat az álmaidat, amit sose gondoltad volna, hogy valaha beteljesül.
                                Rövidre fogva a célunk, hogy bizonyos sportágakban a bizonyításra vágyó embereket előrébb tudjuk segíteni. Mai világban elég nehéz elhelyezkedni bármilyen szakterületen ismeretség nélkül, és ez a sportban sincs másképp.
                                Ezért hoztuk ezt a weboldalt létre, hogy akiknek nem adodótt meg a lehetőség, azoknak biztosítani próbálunk, és egyaránt a csapatoknak is megszeretnénk könnyíteni a munkájukat, hogy háta így egyszerűbben, és gyorsabban megtalálják azt a személyt, akit elképzeltek a csapatukba.
                            </p>
                            <ul>
                                <li><fa-icon [icon]="faCheckPipe"></fa-icon>Megbízhatóság</li>
                                <li><fa-icon [icon]="faCheckPipe"></fa-icon>Precízitás.</li>
                                <li><fa-icon [icon]="faCheckPipe"></fa-icon>Segítőkészség</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

    </main>

</body>