<body class="page-index">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/admin-report.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">
            <h2>Felhasználók</h2>
        </div>
    </div>
    <main id="main">
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>Felhasználók táblába foglalva</h2>
                </div>
                <div>
                    <div class="table-responsive table--no-card m-b-40 d-flex justify-content-center">
                        <table class="table table-borderless table-striped table-earning">
                            <thead>
                                <tr>
                                    <th>Felhasználó ID</th>
                                    <th style="text-align: right;">Felhasználó neve</th>
                                    <th>Törlés</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let user of userArray">
                                <tr>
                                    <td>{{user.id}}</td>
                                    <td style="text-align: right;">{{user.username}}</td>
                                    <td (click)="deletePlayer(user.username)" style="text-align: center;"><fa-icon [icon]="faDelete" class="delete"></fa-icon></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section><!-- End Why Choose Us Section -->
    </main><!-- End #main -->

</body>