<body class="page-index">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/admin-main.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">
            <h2>Admin felület</h2>
        </div>
    </div>
    <main id="main">
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">
                <div class="section-header">
                    <h2>Admin felület mire jó?</h2>
                </div>
                <div class="row g-0" data-aos="fade-right" data-aos-delay="350">
                    <div class="col-xl-7 slides position-relative text-left align-items-center justify-content-center mx-auto m-5"
                        style="height: 60vh; display: flex;">
                        <div class="slides-1 swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="item">
                                        <p>Az admin felületet arra a célra van, hogy ha esetleg egy játékoskereső, úgy véli, hogy egy játékos hamis adatokat adott meg magáról, és nem fedi a valóságot, akkor tudja jelenteni, és az admin tudja kezelni ezeket az eseteket.
                                            Utána jár és ha úgy véli, hogy tényleg nem valós adatokat töltött fel magáról, akkor azt a felhasználót tudja törölni.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Why Choose Us Section -->
    </main><!-- End #main -->

</body>