<body class="page-contact">
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/reg1.jpg');">
          <div class="container position-relative d-flex flex-column align-items-center">
    
            <h2>Regisztráció</h2>
            <ol>
              <li><a href="index.html">Főoldal</a></li>
              <li>Regisztráció</li>
            </ol>
    
          </div>
        </div><!-- End Breadcrumbs -->
    
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container position-relative" data-aos="fade-up">
    
            <div class="row gy-4 d-flex justify-content-end">
    
              <div class="col-lg-5 mb-3" data-aos="fade-up" data-aos-delay="100">
    
                <div class="info-item d-flex">
                  <i class="bi bi-geo-alt flex-shrink-0"></i>
                  <div>
                    <h4>Hely:</h4>
                    <p>7624 Pécs, Fejér Lipót utca 3.</p>
                  </div>
                </div><!-- End Info Item -->
    
                <div class="info-item d-flex">
                  <i class="bi bi-envelope flex-shrink-0"></i>
                  <div>
                    <h4>Email:</h4>
                    <p>info@example.com</p>
                  </div>
                </div><!-- End Info Item -->
    
                <div class="info-item d-flex">
                  <i class="bi bi-phone flex-shrink-0"></i>
                  <div>
                    <h4>Call:</h4>
                    <p>+1 5589 55488 55</p>
                  </div>
                </div><!-- End Info Item -->
              </div>
              <div class="col-lg-6 form mb-3" data-aos="fade-right">
                <div class="container">
                  <div class="row" style="justify-content: center;">
                    <div class="col-md-6 m-3">
                      <div *ngIf="showForm === 'none'; else formContent" class="d-flex justify-content-between" data-aos="flip-left" data-aos-delay="100">
                        <button class="btn btn-primary left-button" (click)="showForm = 'form1'" >Sportoló</button>
                        <button class="btn btn-primary ml-auto right-button" (click)="showForm = 'form2'">Játékos kereső</button>
                        
                      </div>
                      <img src="assets/logo-removebg-preview.png" class="img" data-aos="flip-right" data-aos-delay="100">
                      <ng-template #formContent>
                        <div [ngSwitch]="showForm" data-aos="flip-right" data-aos-delay="100">
                          <div *ngSwitchCase="'form1'">
                            <h3>Form 1</h3>
                            <form class="php-email-form">
                              <!-- Form 1 tartalma -->
                              <div class="mb-3">
                                <label for="field1">Field 1</label>
                                <input type="text" class="form-control" id="field1" name="field1">
                              </div>
                              <div class="mb-3">
                                <label for="field1">Field 1</label>
                                <input type="text" class="form-control" id="field1" name="field1">
                              </div>
                              <div class="mb-3">
                                <label for="field1">Field 1</label>
                                <input type="text" class="form-control" id="field1" name="field1">
                              </div>
                              <div class="mb-3">
                                <label for="field1">Field 1</label>
                                <input type="text" class="form-control" id="field1" name="field1">
                              </div>
                              <div class="mb-3">
                                <label for="field1">Field 1</label>
                                <input type="text" class="form-control" id="field1" name="field1">
                              </div>
                            </form>
                            <div class="text-center">
                              <button class="regist-button">Regisztráció</button>
                            </div>
                          </div>
                          <div *ngSwitchCase="'form2'" data-aos="flip-right" data-aos-delay="100">
                            <h3>Form 2</h3>
                            <form class="php-email-form">
                              <!-- Form 2 tartalma -->
                              <div class="mb-3">
                                <label for="field2">Field 2</label>
                                <input type="text" class="form-control" id="field2" name="field2">
                              </div>
                            </form>
                            <div class="text-center">
                              <button class="regist-button">Regisztráció</button>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              
              
              <!-- End Contact Form -->
    
            </div>
    
          </div>
        </section><!-- End Contact Section -->
    
      </main><!-- End #main -->
    </body>