<body>
    <main id="main">
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/player-main1.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center">

                <h2>Hirdetések</h2>
                <ol>
                    <li><a routerLink="/">Főoldal</a></li>
                    <li>Hirdetések</li>
                </ol>
            </div>
        </div><!-- End Breadcrumbs -->
        <section>
            <div class="container position-relative" data-aos="fade-up">
                <div class="d-flex justify-content-center pt-3">
                    <div class="col-lg-6 form mb-3" data-aos="fade-right">
                        <div class="container">
                            <div class="row" style="justify-content: center;">
                                <div class="col-md-6 m-3">
                                    <form>
                                        <div class="mb-3">
                                            <label for="field1">Tartalom megváltoztatása</label>
                                            <textarea formControlName="lastname" type="text" class="form-control"
                                                id="field1" name="field1"></textarea>
                                        </div>
                                        <div class="text-center">
                                            <button class="regist-button">Módosítás</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- End Contact Form -->

                </div>

            </div>
        </section>
    </main>
</body>