<body>
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/assets/player-main1.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center">

                <h2>Saját hirdetések</h2>
                <ol>
                    <li><a routerLink="/">Főoldal</a></li>
                    <li>Saját hirdetések</li>
                </ol>
            </div>
        </div><!-- End Breadcrumbs -->
        <section>

            <div class="container m-3" data-aos="fade-up">
                <div class="row g-5 justify-content-center">
                    <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-5 posts-list">
                            <div class="col-lg-6" *ngFor="let ad of ownAds">
                                <article class="d-flex flex-column">

                                    <div class="post-img">
                                        <img [src]="ad.image" alt="" class="img-fluid">
                                    </div>
                                    <div class="meta-top">
                                        <ul>
                                            <li class="d-flex align-items-center"><fa-icon
                                                    [icon]="faPeople"></fa-icon><a href="blog-details.html">{{this.currentUsername}}</a>
                                            </li>
                                            <div class="row mt-4">
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-get-started" (click)="navigateToUpdatePage(ad.scoutad_id)">Módosítás</button>
                                                </div>
                                                <div class="col-md-6">
                                                    <button type="button" class="btn btn-danger" (click)="deleteAd(ad.scoutad_id)">Törlés</button>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>

                                    <div class="content">
                                        <p>
                                            {{ad.content}}.
                                        </p>
                                    </div>

                                </article>
                            </div><!-- End post list item -->
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Blog Section -->
    </main>
</body>