<body class="page-contact">
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/reg1.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center">

                <h2>Bejelentkezés</h2>
                <ol>
                    <li><a routerLink="/">Főoldal</a></li>
                    <li>Bejelentkezés</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->
        <section id="contact" class="contact">
            <div class="d-flex justify-content-center p-3">
                <div class="row" style="justify-content: center;">
                    <form class="form">
                        <div class="input-flex">
                            <div class="mb-3" data-aos="flip-right" data-aos-delay="100">
                                <label for="field1">Felhasználó név</label>
                                <input formControlName="lastname" type="text" class="form-control" id="field1"
                                    name="field1">
                            </div>
                            <div class="mb-3" data-aos="flip-right" data-aos-delay="100">
                                <label for="field1">Jelszó</label>
                                <input formControlName="lastname" type="text" class="form-control" id="field1"
                                    name="field1">
                            </div>
                        </div>
                    </form>
                    <div class="col-md-6 m-3 d-flex flex-column align-items-center">
                        <div data-aos="flip-left" data-aos-delay="100">
                            <button class="btn btn-primary left-button">Bejelentkezés</button>
                        </div>
                        <img src="assets/logo-removebg-preview.png" class="img" data-aos="flip-right"
                            data-aos-delay="100">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>