<body class="page-contact">
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/reg1.jpg');">
            <div class="container position-relative d-flex flex-column align-items-center">

                <h2>Bejelentkezés</h2>
                <ol>
                    <li><a routerLink="/">Főoldal</a></li>
                    <li>Bejelentkezés</li>
                </ol>

            </div>
        </div><!-- End Breadcrumbs -->
        <section id="contact" class="contact">
            <div class="d-flex justify-content-center p-3">
                <div class="row" style="justify-content: center;">
                    <form class="form" [formGroup]="loginForm">
                        <div class="input-flex">
                            <div class="mb-3" data-aos="flip-right" data-aos-delay="100">
                                <label for="field1">Felhasználó név</label>
                                <input formControlName="username" type="text" class="form-control" id="field1"
                                    name="field1">
                            </div>
                            <div data-aos="zoom-in-down" data-aos-delay="100" *ngIf="loginForm.get('username')?.errors?.['required'] && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)"
                                class="error-message mb-3">
                                Felhasználó név megadása kötelező
                            </div>
                            <div class="mb-3" data-aos="flip-right" data-aos-delay="100">
                                <label for="field2">Jelszó</label>
                                <input formControlName="password" type="password" class="form-control" id="field2"
                                    name="field2">
                            </div>
                            <div data-aos="zoom-in-down" data-aos-delay="100" *ngIf="loginForm.get('password')?.errors?.['required'] && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
                                class="error-message mb-3">
                                Jelszó megadása kötelező
                            </div>
                        </div>
                    </form>
                    <div class="col-md-6 m-3 d-flex flex-column align-items-center">
                        <div data-aos="zoom-in-down" data-aos-delay="100" *ngIf="isError" class="error-message mb-3">
                            {{errorMessage}}
                        </div>
                        <div data-aos="flip-left" data-aos-delay="100">
                            <button class="btn btn-primary left-button" (click)="onSubmit()">Bejelentkezés</button>
                        </div>
                        <a class="a-reg" data-aos="flip-left" data-aos-delay="100" routerLink="/signup">Esetleg még
                            nincs fiókod?<p>Kattints ide a regisztrációhoz.</p></a>
                        <img src="assets/logo-removebg-preview.png" class="img" data-aos="flip-right"
                            data-aos-delay="100">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>