<body class="page-index">
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-right">ProScout Network: Fedezz fel új tehetségeket</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>
              Üdvözölünk a ProScout Network platformján, ahol a lehetőségek és a siker kezdetét megtalálhatod!  
            </p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a class="btn-get-started" routerLink="/signup">Regisztráció</a>
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Miért válassz minket</h2>

        </div>
        <div class="row g-0" data-aos="fade-right" data-aos-delay="350">
          <div class="col-xl-7 slides position-relative text-left align-items-center justify-content-center mx-auto m-5" style="height: 100vh; display: flex;"> <!-- Hozzáadtuk a "flex" stílust ide -->
            <div class="slides-1 swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Miért érdemes velünk dolgozni?</h3>
                    <h4 class="mb-3">Regisztrációddal számos előnnyel élhetsz:</h4>
                    <span>Sportlók számára</span>
                    <p>Fedezd fel a kivételes lehetőségeket, amik segítenek elérni a magasabb szinteket pályafutásod során. <br> A ProScout Network globális közösségében világszerte új kapcsolatokat építhetsz, nyitva az ajtó a nemzetközi lehetőségek előtt.</p>
                    <span>Játékoskeresők számára</span>
                    <p>Nálunk gyorsan és hatékonyan találhatod meg a tökéletes játékosokat csapatodhoz. <br> Az innovatív sporttechnológiákat és trendeket követjük, hogy csapatod mindig a legjobb legyen, és globális hálózatunk révén nemzetközi kapcsolatokat teremthetsz, nyitva új távlatokat csapatodnak</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section><!-- End Why Choose Us Section -->
    <section id="call-to-action" class="call-to-action">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>Érdekelne ez a lehetőség?</h3>
            <p>Ha felkeltettük az érdeklődésedet, hogy mégis hogyan tudunk téged esetleges álmaidhoz közelebb keríteni, akkor ne habozz kattints a regisztráció gombra!</p>
            <a class="cta-btn" routerLink="/signup">Regisztráció</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->
  </main><!-- End #main -->

</body>